.card {
    background-color: #ffaa00;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .icones {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  